@using Microsoft.AspNetCore.Identity
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TKGörevYönetim</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">TKT Görev Yönetim</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        @if (HttpContextAccessor.HttpContext?.User.Identity.IsAuthenticated == true)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Home")">Ana Sayfa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("AllUsers", "Users")">Tüm Kullanıcılar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("MyTasks", "ToDoTask")">Görevlerim</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        @if (HttpContextAccessor.HttpContext?.User.Identity.IsAuthenticated == true)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("UserProfile", "Users")">Profilim</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Login", "Account")">Çıkış Yap</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Login", "Account")">Giriş Yap</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - TKGörevYönetim - <a href="/Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
